table.php-dump {
	max-width: 60%;
}
.php-dump, 
.php-dump th, 
.php-dump td {
	border-collapse: collapse;
	font-family: verdana, sans-serif;
	background-color: white;
	vertical-align: top;
}
.php-dump th {
    color: white;
    padding: 3px 3px;
    text-align: left;
    font-size: 8px;
    font-weight: bold;
}
.php-dump td {
	padding: 2px 2px;
	font-size: 9px;
}
.php-dump .num-key {
	text-align: center;
}
.php-dump .text-key {
	text-align: left;
}
.php-dump.indexed-array,
.php-dump .indexed-array {
	border: 2px solid #135204;
}
.php-dump th.indexed-array {
	background-color: #1d7907;
}
.php-dump .num-key.indexed-array {
	background-color: #83e66b;
}
.php-dump.associative-array,
.php-dump .associative-array {
	border:  2px solid #0034ce;
}
.php-dump th.associative-array {
	background-color: #325ad2;
}
.php-dump .text-key.associative-array {
	background-color: #aec2ff;
}